img{
    text-align: center;
    padding-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;;
    height:100px;
}
.image_container{
    padding-top: 15px;
    background-color: white;
    padding-bottom: 15px;
    width: 250px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.skill_name{
    text-align: center;
    background-color: white;
    padding-bottom: 15px;
    font-weight: bold;
    width: 250px;
}
.skill_writeup{
    text-align: center;
    background-color: white;
    height:100px;
    display: block;
    width: 250px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.column{
    padding:20px;
    display: inline-block;
}